h2{
    color: black;
}

img{
    height: 400px;
}

//Image and info container
#main{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 75px;
    flex-direction: column;
}
#horizontalMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

//PRICES
#prices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:500px;

}
#prices span{
    font-size: 20px;
}
#priceView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#prices p{
    text-align: center;
}

#prices #lowestPrice{
    color: green;
}
#prices #averagePrice{
    color: orange;
}
#prices #highestPrice{
    color: red;
}

#currency{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
#currency mat-form-field{
    width: 250px;

    text-align: center;
}
#currency .mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper{
    width: 150px;
    border-radius: 1000px;
}

::ng-deep{
    .dropDown-overlay{
       border-radius: 10px;
       border: 1px solid var(--pink-gradient);
       position:absolute;
       top: 50px;
    }
    .mat-toolbar{
        color: var(--pink);
    }
    .mdc-text-field--filled .mdc-line-ripple::after{
        border-bottom-color: var(--pink);
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before {
        border-bottom-color: var(--pink);
    }
    .mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
        color: var(--pink);
    }
    .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after, .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
        color: var(--pink);
    }
    .mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
        color: var(--pink);
    }


  }


//EVENT TYPE
.tag{
    display: flex;
    align-items: center;
    border-radius: 9000px;
    font-weight: 600;
    color: var(--white);
    background: var(--pink-gradient);
    border: 2px solid transparent;
    height: 2rem;
    max-width: 100%;
    margin-right: 10px;
}
#eventType{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tagContainer{
    display: flex;
    flex-direction: row;
    margin-left: 30px;

}

.tagText{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: var(--font-size-7);
    padding: 0px 0.8rem;
}

//EVENT INFO
#subMenu{
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    justify-content: center;

}

//TITLE
#title{
    align-items: center;
    margin-left: 100px;
    display: flex;
    width: 1000px;
    justify-content: center;
}



#title h1 {
    margin-right: 30px;
}



//HOURS

#hours{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-evenly;
}
.hour{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.localHour{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.localHour p{
    margin: 0;
    padding: 0;
}

.hour p{
    font-size: 20px;
}
.twoLinesTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

//location container

#location{
    display: flex;
    width: fit-content;
    flex-direction: row;
    margin-top: 20px;
    gap: 250px;
}

#location h2{
    margin-bottom: 0;
}
#locationText{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

iframe{
    width: 750px;
    height: 500px;
}

#locationList{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 500px;
}

.heart-container.ng-tns-c24-2 {
    margin-top: 10px;
}

::ng-deep .mdc-tooltip__surface{
    min-width: none !important;
    max-width: none !important;
    white-space: pre-line !important;
    line-height: 20px !important;
    text-align: center !important;
}
