<div class="container">
    <div class="card">
        <h2>{{name}}</h2>
        <span class="material-icons fa-arrow-right" style="transform: rotateY(180deg);"> arrow_back </span>
        <p *ngIf="showLowestPrice">From <span>${{price.lowest_price}}</span></p>
        <div class="pic" style= " background-image : url({{image}})"></div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <button>
        </button>
        </div>

</div>


