<div>
<div *ngFor="let index of eventsInPage, let i = index, let even = even" class="row">
    <div *ngIf="even">
    <div class="column">
    <app-event [name]="eventsInPage[i].name" [id]="eventsInPage[i].id" [image]="eventsInPage[i].image" [datetime_local]="eventsInPage[i].datetime_local" [datetime_utc]="eventsInPage[i].datetime_utc" [localtimezone]="eventsInPage[i].localtimezone" [classification]="eventsInPage[i].classification" [price]="eventsInPage[i].price"></app-event>
    </div>
    <div class="column">
    <app-event [name]="eventsInPage[i+1].name" [id]="eventsInPage[i+1].id" [image]="eventsInPage[i+1].image" [datetime_local]="eventsInPage[i+1].datetime_local" [datetime_utc]="eventsInPage[i+1].datetime_utc" [localtimezone]="eventsInPage[i+1].localtimezone" [classification]="eventsInPage[i+1].classification" [price]="eventsInPage[i+1].price"></app-event>
    </div>
    </div>
</div>
<mat-paginator [length]="eventPage.total"
        [pageSize]="eventPage.per_page"
        [hidePageSize]="true"
        (page)="changePage($event)"
        aria-label="Select page">
</mat-paginator>
</div>
