h2{
    color: black;
}

#prices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width:500px;

}
#prices span{
    font-size: 20px;
}
#prices p{
    text-align: center;
}

#prices #lowestPrice{
    color: green;
}
#prices #averagePrice{
    color: orange;
}
#prices #highestPrice{
    color: red;
}
.tag{
    display: flex;
    align-items: center;
    border-radius: 9000px;
    font-weight: 600;
    color: var(--white);
    background: var(--pink-gradient);
    border: 2px solid transparent;
    height: 2rem;
    max-width: 100%;
    margin-right: 10px;
}
#eventType{
    text-align: center;

}
.tagContainer{
    display: flex;
    flex-direction: row;

}
#subMenu{
    display: flex;
    margin-top: 75px;
    margin-left: 100px;
    justify-content: space-between;

}
#priceView{
    display: flex;
    flex-direction: column;
}
.tagText{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: var(--font-size-7);
    padding: 0px 0.8rem;
}
#title{
    align-items: center;
    margin-left: 100px;
    display: flex;
    align-items: center;
    width: 1000px;
    justify-content: center;
}
#title h1 {
    margin-right: 30px;
}

#main{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 75px;
}

#mainImage h1{
    margin-left: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
      overflow: hidden;
}

#mainImage h2 {
    margin-left: 20px;
}
img{
    height: 400px;
}

#hours{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-evenly;
}
.hour{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.localHour{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.localHour p{
    margin: 0;
    padding: 0;
}

.hour p{
    font-size: 20px;
}
.twoLinesTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
