<mat-toolbar class="header">
    <a routerLink="/" class="logo">
        <span (click)="reload()">EventSearcher</span>
    </a>
    <div class="search-container">
        <mat-form-field appearance="fill">
          <input
            type="text"
            placeholder="Search..."
            [formControl]="control"
            matInput
          />
          <mat-icon (click)="search()" routerLink="/" matPrefix>search</mat-icon>
        </mat-form-field>
    </div>

    <div *ngIf="!register; else noRegister" class="user">
        <span>KAPUT1234</span>
        <div class="user-img">
            <img src="assets/user.svg" alt="">
        </div>
    </div>
    <ng-template #noRegister>
        <div class="links">
            <a routerLink="/sign-up">Sign up</a>
            <a routerLink="/log-in">Log in</a>
        </div>
    </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>

