<mat-toolbar class="header">
    <a routerLink="/" class="logo">
        <span (click)="reload()">EventSearcher</span>
    </a>
    <div class="search-container">
        <mat-form-field appearance="fill">
          <input
            type="text"
            placeholder="Search..."
            [formControl]="control"
            matInput
          />
          <mat-icon (click)="search()" routerLink="/" matPrefix>search</mat-icon>
        </mat-form-field>
    </div>

    <div *ngIf="register; else noRegister" class="user">
        <p>{{username}}</p>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="menu">
            <button mat-menu-item routerLink="/liked-events">
                <span class="menu-text">Liked Events</span>
                <mat-icon class="menuIcon">favorite</mat-icon>
            </button>
            <button mat-menu-item (click)="logout()">
                <span class="menu-text">Logout</span>
                <mat-icon class="menuIcon">exit_to_app</mat-icon>
            </button>
          </mat-menu>

    </div>
    <ng-template #noRegister>
        <div class="links">
            <a routerLink="/sign-up">Sign up</a>
            <a routerLink="/log-in">Log in</a>
        </div>
    </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>

